* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
}

@font-face {
    font-family: kamerik-3d;
    src: url(../fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}

@font-face {
    font-family: merriweather-italic-3d;
    src: url(../fonts/merriweather-regular-italic.woff2);
}


body{
    background-color: black;
    color: white;
    font-family: kamerik-3d;
}

.layers{
    
    perspective: 1000px;
}

.layers__container{
    height: 100vh;
    min-height: 500px;

    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
}

.layers__item{
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
}
